<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="apiID" value="Put-Your-Id-Here"/>
    <add key="apiKey" value="Put-Your-Key-Here"/>
    <add key="baseURL" value ="https://rcrainfopreprod.epa.gov/rcrainfo/rest/api/v1/"/>
  </appSettings>
</configuration>